.header {
  background-color: rgb(255, 225, 0);
  padding: 25px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-logo {
  width: 160px;
  height: auto;
}

.header-right {
  text-align: right;
}

.header-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-nav-item {
  display: inline-block;
  margin-left: 20px;
  position: relative; 
  color: rgb(70,17,166);
  font-size: 40px;
}

.header-nav-item:first-child {
  margin-left: 0;
}

.header-nav-item a {
  color: rgb(70,17,166);;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.header-nav-item a:hover {
  text-decoration: none;
  color: #007bff;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: yellow;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  list-style-type: none;
  width: 200px;
}

.header-nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 0px;
  margin: 0;
  text-align: left;

}

.dropdown-menu li a {
  color: rgb(70,17,166);
  text-decoration: none;
  font-size: 20px;
}

.dropdown-menu li a:hover {
  text-decoration: underline;
  color: #007bff;
}

.sub-header-content{
  margin-left: 320px;
}
.sub-header{
  background-color: aliceblue;
  padding: 5px;
}